<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.min.css">
  </head>
  <body>
    <header>
      <div class="wrapper">
        <div class="containers">
          <div class="hederLogo">
            <div class="sibLogo"><img src="imgs/sibcomp.svg" alt="Smiley face"></div>
            <div class="sibInfo">
              <p>Наш телефон:</p><strong><i class="fas fa-phone-square"></i>8 (923) 390 36 66</br></strong><small>c 9:00 до 21:00</small>
            </div>
          </div>
        </div>
      </div>
    </header>
    <nav>
      <div class="wrpMenu"> 
        <div class="mainMenu">
          <label class="show-menu" for="show-menu">Меню <i class="fas fa-caret-down"></i></label>
          <input id="show-menu" type="checkbox" role="button">
          <ul id="menu">
            <li><a href="index.html">Домой</a></li>
            <li><a href="news.html">Новости</a></li>
            <li><a href="services.html">Ремонт <i class="fas fa-caret-down"></i></a>
              <ul class="hidden">
                <li><a href="services.html">Компьютеров</a></li>
                <li><a href="services.html">Ноутбуков</a></li>
                <li><a href="mobile.html">Смартфонов</a></li>
                <li><a href="mobile.html">Планшетов</a></li>
              </ul>
            </li>
            <li><a href="tune-up.html">Настройка <i class="fas fa-caret-down"></i></a>
              <ul class="hidden">
                <li><a href="services_home_net.html">Домашние сети</a></li>
                <li><a href="services_tv.html">ТВ/Аудио</a></li>
                <li><a href="services_console.html">Приставки (Xbox/PS4)</a></li>
                <li><a href="services_program.html">Установка ПО</a></li>
              </ul>
            </li>
            <li><a href="articles.html">Статьи</a></li>
            <li><a href="price.html">Прайс-лист</a></li>
            <li><a href="contact.html">Контакты</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="content">
    </div>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>